.input-style {
    outline: none;
    border: none;
    border-radius: 10px;
}

.button-white-style {
    border: none;
    border-radius: 10px;
    background-color: var(--color-light);
    color: var(--color-dark);
}

.image-large {
    height: 100vh;
}
