.input-style {
    outline: none;
    border: none;
    border-radius: 10px;
}

.button-white-style {
    border: none;
    border-radius: 10px;
    background-color: var(--color-light);
    color: var(--color-dark);
}

.image-large {
    position: fixed;
    right: 0;
    height: 100vh;
    width: 50%;
}

.error-style {
    color: red;
}
