.background-style {
    background-image: url('../../assets/background.svg');
}

.input-style {
    outline: none;
    border: none;
    border-radius: 10px;
}

.button-white-style {
    border: none;
    border-radius: 10px;
    background-color: var(--color-light);
    color: var(--color-dark);
}

.button-purple-style {
    border: none;
    border-radius: 10px;
    background-color: var(--color-purple);
    color: var(--color-light);
}

.image-large {
    object-fit: cover;
    position: fixed;
    right: 0;
    width: 50%;
    height: 100%;
}

.error-style {
    color: red;
}

.button-style {
    padding: 17px 29px;
    width: auto;
    flex-shrink: 0;
}

.logo {
    max-width: 107px;
    max-height: 20px;
    width: 100%;
    height: 100%;
}

.application__container {
    padding: 50px 140px;
}

.mini-avatar {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
}

.middle-avatar {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
}

.large-avatar {
    max-width: 280px;
    max-height: 280px;
    width: 100%;
    height: 100%;
}

.opacity-background {
    background-color: rgba(89, 85, 138, 0.12);
}

.options_checkbox {
    gap: 10px;
    align-items: baseline;
}

.raiting-reviews {
    color: #DDFB27;
}