.text-regular {
    font-style: normal;
    font-weight: var(--text-regular);
}

.text-medium {
    font-style: normal;
    font-weight: var(--text-medium);
}

.text-semi-bold {
    font-style: normal;
    font-weight: var(--text-semi-bold);
}

.text-bold {
    font-style: normal;
    font-weight: var(--text-bold);
}

.text-extra-small-size {
    font-size: 14px;
    line-height: 14px;
}

.text-small-size {
    font-size: 16px;
    line-height: 16px;
}

.text-middle-size {
    font-size: 20px;
    line-height: 20px;
}

.text-big-size {
    font-size: 32px;
    line-height: 32px;
}

// .text-extra-big-size {

// }