.text-regular {
    font-style: normal;
    font-weight: var(--text-regular);
}

.text-medium {
    font-style: normal;
    font-weight: var(--text-medium);
}

.text-semi-bold {
    font-style: normal;
    font-weight: var(--text-semi-bold);
}

.text-bold {
    font-style: normal;
    font-weight: var(--text-bold);
}

.text-extra-small-size {
    font-size: 13px;
    line-height: 13px;
}

.text-small-size {
    font-size: 15px;
    line-height: 15px;
}

.text-middle-size {
    font-size: 20px;
    line-height: 20px;
}

// .text-big-size {

// }

// .text-extra-big-size {

// }