.header__container {
    align-items: center;
    justify-content: space-between;
}

.header__navigation {
    gap: 30px;
    padding: 23px 32px;
    align-items: center;
    border-radius: 66px;
}

.header__actions {
    gap: 12px;
    align-items: center;
}
