.registration__inputs {
    gap: 30px;
}

.registration__inputs_fullname {
    justify-content: space-between;
}

.registration__choice {
    gap: 10px;
}

.registration__choice_inputs {
    justify-content: space-between;
}

.registration__checkbox {
    gap: 10px;
    justify-content: center;
    align-items: baseline;
}
