.registration__container {
    gap: 50px;
}

.registration__inputs {
    gap: 30px;
}

.registration__inputs_fullname {
    gap: 30px;
}

.registration__choice {
    gap: 50px;
}

.registration__checkbox {
    gap: 10px;
    align-items: baseline;
}