.filters__container {
    gap: 20px;
    padding: 30px 35px;
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.filters__container_checkboxes {
    gap: 20px;
}

.filters__container_price {
    
}

.filters__price_count {
    justify-content: space-between;
}