.role-toggle__inputs_input {
    position: relative;
}

.role-toggle__input {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    // visibility: hidden; // не работает
    opacity: 0;
}